<h1>Login to your account</h1>
<form id='login'>
  <input id='email' placeholder='email' type='email' />
  <input id='password' placeholder='password' type='password' />
  <button type='submit'>Login</button>
</form>

<h1>Create an account!</h1>
<form id='signup'>
  <input id='signupusername' placeholder='username' type='text' />
  <input id='signupemail' placeholder='email' type='email' />
  <input id='signuppassword' placeholder='password' type='password' />
  <button type='submit'>Login</button>
</form>